<%= simple_form_for invite, url: url do |f| %>
 <div class="margin-top row">
   <div class="medium-12 columns">
     <%= f.input :messages, label: "", placeholder: "Write message here" %>
   </div>
 </div>

 <div class="row">
   <div class="medium-12 columns">
     <span class='message-radio'><input type="radio" name="message_group" value="attending">only attending guests</span>
     <span class='message-radio'><input type="radio" name="message_group" value="no-reply">those who haven't replied</span>
     <span class='message-radio'><input type="radio" name="message_group" value="all">all</span>
   </div>
 </div>
<br>
 <div class="row">
   <div class="large-12 columns">
     <%= f.button :submit, value: "Submit" %>
     <br><small id="error-message"></small>
   </div>
 </div>
 <% end %>

<script>

$( "form" ).submit(function( event ) {
  event.preventDefault();
  var sendTo = $("input:radio[name='r']:checked").val();
  if (sendTo === undefined) {
    $("#error-message").text("*Choose which group to send this message to.");
  } else {
    var formData = $('.edit_invite').serialize()
    // console.log(this);
    $.ajax({
      type: "PATCH",
      url: this.action,
      data: formData,
      success: success,
      dataType: "json"
    });
  }
  
});

function success(data) {
	console.log(data);
}


</script>