
<div>
  <p class="response">You DECLINED this invite.</p>
</div>
<div id="inviter">
	<div class="make_event_div">
	  <p class="make_event_below">YOU'RE NOT GOING</p>
	</div>
	<%= render 'response_details', invite: @invite %>
</div>
