<!-- NEW INVITE VIEW -->

    <script>
function initMap() {

  var input = /** @type {!HTMLInputElement} */(
      document.getElementById('invite_address'));

  var types = document.getElementById('type-selector');
  var autocomplete = new google.maps.places.Autocomplete(input);
 

  autocomplete.addListener('place_changed', function() {
    infowindow.close();
    marker.setVisible(false);
    var place = autocomplete.getPlace();
    alert(place);
  });
}

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap"
        async defer></script>
        <script src="https://apis.google.com/js/client.js"></script>
    
<script>
document.cookie = "ownerEmail=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';";
document.cookie = "invited=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';";

String.prototype.toProperCase = function(){
    return this.toLowerCase().replace(/(^[a-z]| [a-z]|-[a-z])/g, 
         function($1){
            return $1.toUpperCase();
        }
    );
};
function auth() {
  var config = {
    'client_id': '832245431959-4qt4jj9euf22pd3d6tdsqknrdd32nuem.apps.googleusercontent.com',
    'scope': 'https://www.google.com/m8/feeds'
  };
  gapi.auth.authorize(config, function() {
    var token = gapi.auth.getToken();
    // console.log(token)
    token['g-oauth-window'] = null;
    fetchGoogleContacts(token);
  });
}

var contacts = "";
function fetchGoogleContacts(token) {
  $.ajax({
    url: 'https://www.google.com/m8/feeds/contacts/default/full?alt=json&max-results=1000',
    dataType: 'jsonp',
    data: token
  }).done(function(data) {

    populateContacts(data);
  });
}

function populateContacts(data) {
  var arr = new Array();
  var nameArr = new Array();
  var nameObj = {};

  var d = data["feed"]["entry"];
  contacts = d;
  $.each(d, function(i, obj) {

    try {
      var email = obj["gd$email"][0]["address"].toLowerCase();
      var name = obj["title"]["$t"];
      var img = obj["link"][0]["href"];

      arr.push(email);
      if (name != "") {
        nameArr.push(name.toProperCase());
        nameObj[name] = email;
        nameObj[email] = img;
      }
      
    } catch(err) {

    }
  });

  arr.sort();
  nameArr.sort()
  var count = 0;
  for (var i in arr) {
    count++
    if (count > -1) {
      if (typeof name != 'undefined' && typeof nameObj[nameArr[i]] != 'undefined') {
        var imageUrl = nameObj[nameObj[nameArr[i]]];

        var uri = '/assets/blank-avatar.gif';
  
        var elem = "#" + i

        $("#myModal2-table-body").append("<tr>");

        $("#myModal2-table-body").append("<td>");

        $("#myModal2-table-body").append("<input class='emailCheckbox' type=checkbox name='" + nameObj[nameArr[i]] + "'' id='" + nameObj[nameArr[i]] + "' value='" + nameArr[i] + "'/><label for='" + nameObj[nameArr[i]] + "'></label>");
        $("#myModal2-table-body").append("</td>");
        $("#myModal2-table-body").append("<td>");

        $("#myModal2-table-body").append("  <b>" + nameArr[i] + "<b>  ");
        $("#myModal2-table-body").append("<br/>");

        $("#myModal2-table-body").append(nameObj[nameArr[i]]);
      
        $("#myModal2-table-body").append("</td>");
        $("#myModal2-table-body").append("<tr>");

      }
    }


  
  }
}

function populateSearch(d, guests) {
  console.log("POPULATE SEARCH");
  var arr = new Array();
  var nameArr = new Array();
  var nameObj = {};
  var d = contacts;
  count = 0;
  $.each(d, function(i, obj) {

    try {
      var email = obj["gd$email"][0]["address"].toLowerCase();
      var name = obj["title"]["$t"];
      var img = obj["link"][0]["href"];
      if (guests.indexOf(name) != -1){
        count += 1;
        arr.push(email);
        if (name != "") {
          nameArr.push(name.toProperCase());
          nameObj[name] = email;
          nameObj[email] = img;
        }
      }
      
    } catch(err) {

    }
  });
  console.log(count);
  nameArr.sort()
  $("#myModal2-table-body").empty();

  var count = 0;
  for (var i in arr) {
    count++
    if (count > -1) {
      if (typeof name != 'undefined' && typeof nameObj[nameArr[i]] != 'undefined') {

        var imageUrl = nameObj[nameObj[nameArr[i]]];

        var uri = '/assets/blank-avatar.gif';
  
        var elem = "#" + i

        $("#myModal2-table-body").append("<tr>");

        $("#myModal2-table-body").append("<td>");

         $("#myModal2-table-body").append("<input class='emailCheckbox' type=checkbox name='" + nameObj[nameArr[i]] + "'' id='" + nameObj[nameArr[i]] + "' value='" + nameArr[i] + "'/><label for='" + nameObj[nameArr[i]] + "'></label>");
        $("#myModal2-table-body").append("</td>");
        $("#myModal2-table-body").append("<td class='full-width'>");

        $("#myModal2-table-body").append("  <b>" + nameArr[i] + "<b>  ");
        $("#myModal2-table-body").append("<br/>");

        $("#myModal2-table-body").append(nameObj[nameArr[i]]);
      
        $("#myModal2-table-body").append("</td>");
        $("#myModal2-table-body").append("<tr>");

      }
    }


  
  }


}


var invited = [];
$(function() {
  $('body').delegate('#search-autocomplete', 'keyup', function() {
    var searchInput = $("#search-autocomplete").val();

    // for each contact
    // look in contact.title.$t
    // if the first X characters in contact name = searchInput, add into a 'guests' array.
    // populate table with that array
    // console.log(contacts[10]["title"]["$t"]);
    guests = [];
    for (var i = 0; i < contacts.length; i++) {
      if (contacts[i]["title"]["$t"].toLowerCase().indexOf(searchInput.toLowerCase()) == 0) {
        guests.push(contacts[i]["title"]["$t"]);
      }
    }
    console.log(guests);
    populateSearch(contacts, guests);
  });
});


$('body').delegate('#continue-button', 'click', function() {
    $('a.close-reveal-modal').trigger('click');
    var invitedString = invited.toString().replace(/,/g, " ");
    console.log(invitedString);
    var newCookie = 'invited=' + invitedString + ';'
    // console.log(newCookie);
    document.cookie = newCookie;
});

$('body').delegate('.form_submit', 'click', function() {
  $('#myModal').foundation('reveal', 'close');
  $('form').submit();

});


var count = 0;

var checked = 0;
$('body').delegate('.emailCheckbox', 'click', function() {
    // add to cookie



    if(this.checked == true) {
      console.log("add");
      checked += 1;
      if (invited.indexOf(this.name) == -1) {
        invited.push(this.name)
      }

    } else {
      console.log("subtract");
      checked += -1;
      if (invited.indexOf(this.name) != -1) {
        invited.pop(this.name)
      }

    }
    

    if (checked == 1) {
      console.log("singular")
      $("#submit_button").text("Send to 1 invite");
    } else if (checked == 0) {
      console.log("none")

      $("#submit_button").text("Send");
    } else {
      console.log("plural")

      // $("#continue-button").text("Send to " + checked + " invites");
    }     
    $("#submit_button").text("Send to " + checked + " invites");


    if (checked == 0) {
      $("#submit_button").hide();

    } else {
          $("#submit_button").addClass("form_submit");
    $("#submit_button").removeAttr("data-reveal-id");
    $("#submit_button").show();
    }

});

$.get( "https://outlook.office.com/api/v2.0/me/contacts", {"app_id": "29651c10-8c55-475d-b23b-e3c79c4cdef0", "scope": "https://outlook.office.com/Contacts.Read"}, function( data ) {
  console.log("get");
  console.log(data);
});

</script>

<script>
$('#myModal').foundation('reveal','open');
console.log("hh");
</script> 

<script>
$(function() {


});

</script>

<%= render 'form', invite: @invite, url: invites_path %>

<% if @contacts %>
<script>
function getURLParameter(name) {
  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
}

if (getURLParameter("show_modal") != null) {
  console.log(getURLParameter("show_modal"))

console.log("here");
  <% @contacts.each do |contact| %>
  $("#myModal").append("<input class='emailCheckbox' type=checkbox name='" + '<%=contact["EmailAddresses"][0]["Name"] %>' + "'>");
    $("#myModal").append('<%=contact["EmailAddresses"][0]["Name"] %>  ');

    $("#myModal").append('<%= contact["EmailAddresses"][0]["Address"] %>');
    
    $("#myModal").append("<br>");

  <% end %>
  console.log("2");
  $('#myModal').foundation('reveal','open');
  $("#myModal").append("<a class='button' id='continue-button'>Continue</a>");
}
  </script> 

<% end %>
