
<!-- TODO: fix positioning of links etc -->
<center><div style="margin-top: 350px;"><a class='button' href="/">CREATE</a></div></center>
<div style="padding-left: 15px; padding-bottom: 8px;color: #fff !important; position: fixed; bottom: 20px; width: 100%;"><a style="color: #fff !important;" href="/terms-of-service">Terms of service</a> | <a style="color: #fff !important;" href="/privacy-policy">Privacy</a></div>