<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Invites sent!</h1>
    <p>How to see stats and updates, edit, delete, etc</p>
  </body>
</html>
