/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
    z-index: 5;
    background-image: url('/assets/IMAGE_SP.jpg');
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

#inviter {
    padding-bottom: 0.5%;
    border-radius: 10px;
    margin-top: 1%;
    width: 500px;
    background: white;
}

.invite_details {
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    margin-left: -25%;
    margin-top: 2%;
    width: 500px;
    background: #f2f2f2;
}

.medium-12.columns select {
    display: inline-block;
    width: 16%;
    font-size: 12px;
}

.reveal-modal {
    overflow-y: none;
    border-radius: 10px;
    background: #f9f9f9;
}

.invite-image {
    max-height: 200px;
}

#inviter {
    margin-left: 2%;
}
#send-emails-button {
    margin-top: 0.5%;
}

#buttons {
    width: 500px;
    margin-left: 2%;
    margin-top: 0.5%;
}



#right_button, #choose_contacts_button {
    float: right;
}

.hide_scrollbar {
    overflow: hidden;
}

.scroll {
    height: 120px;
    overflow: auto;
    width: 101.5%;
}


.inviter_button {
    width: 48%;
}

.button, .button:hover {
    border-radius: 10px !important;
    background: #94C6EA;
}


#myModal2,
.center {
    width: 50%;
}

#myModal2-table {
    border: none !important;
    width: 100%;
}

.emailCheckbox {
    padding-top: 10%;
}

input[type=text] {
    border: none;
    border-radius: 10px;
}

textarea {
    resize: none;
    border: none;
    margin-bottom: -1%;
}
#invite_name {
    height: 40px !important;
    font-size: 20px !important;
    font-weight: bold;
}

.title {
    font-size: 20px;
}

#invite_allow_others {
    height: 20px;
    width: 20px;
}

input[type=textarea] {
    border: none;
}
input[type=checkbox].emailCheckbox {
    display: none;
}

input[type=checkbox] + label {
    background: #999;
    height: 32px;
    width: 32px;
    display: inline-block;
    padding: 0 0 0 0px;
    border-radius: 100%;
    moz-border-radius: 100%
}

input[type=checkbox]:checked + label {
    height: 32;
    width: 32;
    display: inline-block;
    padding: 0 0 0 0px;
    border-radius: 100%;
    moz-border-radius: 100%;
    background: url('/assets/blue-circle32.png') left top no-repeat;

}



#invite_description {
    height: 120px !important;
    width: 96%;
    border-radius: 10px;
    moz-border-radius: 10px;
}

#invite_address,
#invite_name {
    width: 96%;
    border-radius: 10px;
    moz-border-radius: 10px;
}

#my-email {
    border-radius: 10px;
    moz-border-radius: 10px;
    margin-left: 2%;
    width: 100%;
}

select {
    border-radius: 10px;
    moz-border-radius: 10px;
}

abbr {
    display: none;
}

label.file_optional {
    display: none;
}

.inline {
    display: inline;
}

#search-autocomplete {
    margin-top: 2%;
}

#contacts-table {
    overflow-y: scroll;
    max-height: 300px;
}

#no-overflow {
    overflow-y: none!important;
    overflow-x: none!important;
}

.medium-12.columns select {
    display: inline-block;
    width: 17%;
    font-size: 12px;
}

.file-upload {
    position: relative;
    overflow: hidden;
    background: transparent;
    text-decoration: underline;
    padding: 0;
    margin-bottom: 1%;
    display: none;
}


.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#invite_avatar {
    diplay:none;
}

@media only screen and (max-width:500px) {
    #inviter, .invite_details {
        width: 100%;
    }
    .invite_details {
        margin-left: 0%;
    }
    #myModal2 {
        width: 100%;
    }


    .medium-12.columns select {
    font-size: 10px;
    }
    .date-range {
        padding-left: .25rem;
        padding-right: .25rem;
    }
}

#image-section {
    background:#f2f2f2;
    height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#invite_description {
    outline: none !important;
}

.emailTableElement {
    border-bottom-width: 10px;
}

#myModal2-table-body {
    padding-right: 100px;
}


#image-section img {width: auto;}


.hidden {
   display: none;; 
}

.full-width {
    max-width: 10px !important;
}

#test {
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.details {
    margin-left: 2%;
    margin-right: 2%;

}

.modal_title {
    font-size: 18px;
}

.logo_button {
    padding: 12%;
    padding-top: 45%;
    padding-bottom: 45%;
    border-radius: 10px;
    background: white;
}

.white_background {
    background: white;
    padding-left: 2%;
    border-radius: 10px;
    padding-bottom: 1%;
    padding-top: 1%;
}

#pull-left {
    margin-left: -2%;
}

#emails {
    height: 120px;
    width: 96%;
    border-radius: 10px;
    moz-border-radius: 10px;
}