<h1>Admin Index</h1>

<%= render 'reports_table_count', invite_count: @invite_count, accepted_count: @accepted_count, rejected_count: @rejected_count, report_count: @report_count, written_report_count: @written_report_count  %>

<%= render 'reports_table', sorted_reports: @sorted_reports %>
