<div class="row">
	<div class="white_background">
		<h1>Admin Index</h1>


		<ul class="tabs" data-tab>
		  <li class="tab-title active"><a href="#panel1">Stats</a></li>
		  <li class="tab-title"><a href="#panel2">Map</a></li>
		  <li class="tab-title"><a href="#panel3">New Ad</a></li>
		  <li class="tab-title"><a href="#panel4">Existing Ads</a></li>
		</ul>
		<div class="tabs-content">
		  <div class="content active" id="panel1">
		    <%= render 'reports_table_count', invite_count: @invite_count, accepted_count: @accepted_count, rejected_count: @rejected_count, report_count: @report_count, written_report_count: @written_report_count, deactivated_count: @deactivated_count  %>

		    <%= render 'reports_table', sorted_reports: @sorted_reports %>

		  </div>
		  <div class="content" id="panel2">
		    

		     <script src="http://maps.googleapis.com/maps/api/js"></script>


		     <div id="googleMap" style="width:500px;height:380px;"></div>

		  </div>
		  <div class="content" id="panel3">
		    <%= render 'ad_form', ad: @ad, url: ads_path %>

		  </div>
		  <div class="content active" id="panel4">
		  	<%= render 'ad_table', contacts: @ads %>
		  </div>
		</div>
	</div>
</div>
