<div class="row">
	<div class="white_background">
		<h1>Ad Stats</h1>
		<p>Name: <%= @ad.name %></p>
		<p>Description: <%= @ad.desc %></p>
		<p>Redirect Url: <%= @ad.redirect_url %></p>
		<%= render 'stats_table', stats: @stats_hash %> 
	</div>
</div>
